.banner{
    width: 100%;
    margin-top: 60px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5rem 0px; */
}

.banner_list{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
}

.banner_list .banner_item{
    width: 40%;
}

.banner_list .banner_item_img{
    width: 50%;
    text-align: left;
}

.banner_list .banner_item_img img{
    width: 90%;
}

.banner_item h3{
    font-size: 1.6rem;
}

.banner_item h3 span{
    color: #3498db;
}

.banner_item p{
    margin: 1rem 0px;
}

.banner_item button{
    border: 1.5px solid #3498db;
    outline: none;
    background-color: transparent;
    padding: 9px 30px;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    color: #3498db;
    transition: 0.3s ease;
}

.banner_item button:hover{
    background-color: #3498db;
    color: white;
}

@media screen and (max-width:810px){
    .banner_list{
        flex-direction: column;
    }

    .banner_list .banner_item{
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
    }

    .banner_list .banner_item_img{
        width: 100%;
    }

   


     .banner{
        padding: 3rem 0px 0px 0px!important;
    } 

    
}